.sectionContainer {
  background-color: black;
}
.maintenanceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Negro */
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
}

.imageContainer {
  max-width: 1200px;
  height: 100%;
}

.imageContainer img {
  position: relative !important;
}

@media (max-width: 700px) {
  .maintenanceContent {
    max-width: 415px;
  }
}

@media (max-width: 500px) {
  .maintenanceContent {
    max-width: 315px;
  }
  .imageContainer {
    height: 80%;
    position: absolute;
    top: 0;
  }
  .maintenanceContainer {
    height: 80vh;
  }
}
