.maintenanceContent {
  text-align: center;
  color: white;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2rem;

  box-sizing: border-box;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .description {
    width: 50%;
    margin: auto;
    margin-top: 30px;
  }
}
